.table-responsive {
    max-height:300px;
}
.top-bar{
	position: fixed;
	top:0px;
	font-size: 12px;
	min-height: 20px;
	background-color: #120038;
	color: #fff;
	z-index: 999;
}
body{
	font-family: 'Open Sans', sans-serif;
}