
body{
	
}
.well{
	padding-top: 50px;
	padding-left: 30px;
	padding-right: 20px;
	padding-bottom: 100px;
	background-color: #5E3F50;
	border-radius: 20px;

}
.white-heading{
	color: #fff;
}

.form-label-white{
	color: #fff;
}
.sl-col{
	width: 10%;
}
.item-col{
	width: 30%;
}
.qty-col{
	width: 10%;
}
.rate-col{
	width: 20%;
}
.total-col{
	width: 20%;
}
.option-col{
	width: 10%;
}
.empty-btn{
    color:#0062cc;
    cursor: pointer;
}

.edit-btn{
    color:#0062cc;
    cursor: pointer;
}