
.heading{
	color: #fff;
}

#login-div{
	padding-top: 30px;
}

#login-error{
	color: red;
}

#phone[type=number]::-webkit-inner-spin-button, 
#phone[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
    
}
